@model Thinktecture.IdentityModel.Clients.AccessTokenResponse

@{
    ViewBag.Title = "Postback";
}

<h2>Access Token</h2>
<br />

<p>
    <strong>Token:</strong>
    <br />
    @Model.AccessToken
</p>

<p>
    <strong>Expires:</strong>
    <br />
    @(DateTime.Now.AddSeconds(Model.ExpiresIn).ToString())
</p>

<p>
    <strong>Refresh token:</strong>
    <br />
    @Model.RefreshToken
</p>

@using (Html.BeginForm("CallService", "Callback"))
{ 
    @Html.Hidden("token", @Model.AccessToken)

    <input type="submit" value="Call service" />
}
