@{
    ViewBag.Title = "Index";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@Html.ActionLink("Logout", "Logout")</p>
}
else
{
    <p>@Html.ActionLink("Login", "Login")</p>
}

@if (User.Identity.IsAuthenticated)
{
    <h2>Claims</h2>
    <dl>
        @foreach (var claim in System.Security.Claims.ClaimsPrincipal.Current.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
            <dd>@claim.Issuer</dd>
        }
    </dl>
}
else
{
    <p>Not Authenticated</p>
}

@section scripts
{
<script>
    $(function () {
        $.ajax({
            url:'foo'
        });
    });
</script>
}